/* ----------------------------------------------- * manual/ page Module * manual/ページ用 -------------------------------------------------- */
@charset "UTF-8";
#manual .b-bg-main{
	background-image: url(/assets/images/bg/bg-manual.jpg);
}
#manual .m-box_table_item img{
	border: 1px solid #aaa;
	display: block;
	margin: 0 auto;
}
.m-box_table_item > img + p{
	font-size: 1.6rem;
}
.m-box_table_item > img + p > span{
	font-weight: bold;
}
.p-manual-accordion-title .m-hdg_lv3{
	margin-bottom: 0;
	position: relative;
}
.p-manual-accordion-title .m-hdg_lv3:before,
.p-manual-accordion-title .m-hdg_lv3:after{
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 20px;
	height: 2px;
	background-color: #222;
	transform: translateY(-50%);
	transition: .5s;
}
.p-manual-accordion-title .m-hdg_lv3:after{
	transform: translateY(-50%) rotate(90deg);
}
.p-manual-accordion-title.p-manual-accordion-open .m-hdg_lv3:after{
	transform: translateY(-50%) rotate(0deg);
}
.p-manual-accordion-body{
	display: block;
}
.p-manual-accordion-body .m-hdg_lv3,
.p-manual-accordion-body .m-box_table{
	display: block;
}
@media (max-width: 991px){
	.m-box_table_item {
		margin-bottom: 45px;
	}
	.m-box_table_item > img + p{
		font-size: 1.4rem;
	}
	.p-manual-accordion-title .m-hdg_lv2{
		padding-right: 20px;
	}
	.p-manual-accordion-title .m-hdg_lv2:before,
	.p-manual-accordion-title .m-hdg_lv2:after{
		width: 10px;
	}
}